body {
  background-color: #223b3f;
}

h1 {
  margin: 0;
  text-align: center;
  font-size: 5rem;
  color: #D9EEE1;
}

form {
  width: 400px;
  height: 50vh;
  margin: 10vh auto;
}

form input {
  display: block;
  width: inherit;
  height: 75px;
  font-size: 3rem;
  margin-bottom: 10px;
  margin-left: 40px;
  background: transparent;
  border: none;
  outline: none;
  color: #FBFBFF;
}

.gameboard {
  width: 400px;
  height: 50vh;
  margin: 5vh auto 1vh auto;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: repeat(3, 1fr);
  grid-gap: 5px 5px;
}

div > div {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #96D4D4;
  font-size: 3.5rem;
  font-weight: 600;
  color: #ff7d00;
  cursor: pointer;
}

@keyframes fade {
    from {
        opacity: 0;
        filter: blur(5px);
    }
    to {
        opacity: 1;
    }
}

p {
  font-size: 3rem;
  text-align: center;
  color: #FBFBFF;
  margin: 0;
  margin-bottom: 20px;
  animation: fade 300ms ease-out forwards;
}

.pretty-click { 
  color: #ff7d00;
  cursor: default;
  transition: all 300ms ease-in-out;
}

.valid-hover {
  background-color: #85C18D;
  box-shadow: 0px 0px 5px 1px rgba(0,0,0,1);
}

.invalid-hover {
  background-color: #E7737B;
  color: white;
}

.button-show {
  display: block;
  width: 150px;
  height: 60px;
  margin: 0px auto;
  background-color: #FBFBFF;
  color: #ff7d00;
  font-size: 2rem;
  font-weight: 600;
  border: none;
  border-radius: 50px;
  cursor: pointer;
  display: visible;
}

@keyframes winners {
    from {
        filter: blur(5px);
    }
    to {
        transform: rotate(1turn);
        background: #ff7d00;
        color: #FBFBFF;
        box-shadow: 0px 0px 25px 10px teal;
    }
}

.game-over {
    pointer-events: none;
}

.winning-boxes {
    animation: winners 300ms ease-in-out forwards;
}

.losing-boxes {
    background: #999;
    color: #000;
}

.show {
  visibility: visible;
}

.hide {
  visibility: hidden;
}

button:hover {
  background: #ff7d00;
  color: #FBFBFF;
}
